
    .type {background-color: black; color:white;font-family:serif; 
         display:flex; justify-content: space-between; align-items: center; }
     
        #cfh {background-color: purple; padding: 20px; display: flex; justify-content: space-between;}

        ul {
            list-style-type: none;
        }
        
div {
    padding: 14px 16px;
    display: flex;
    text-decoration: none;
}
